.Header {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Header-logo {
  height: 45px;
}

.Header-box-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Header-input {
  width: 500px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  font-size: 16px;
  border: none;
  outline: none;
}

.Header-icon-search {
  position: absolute;
  left: 7px;
  top: 11px;
}

.Header-box-sort-price {
  margin-top: 35px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.Header-label-checkbox,
.Header-label-slider {
  margin-right: 10px;
}

.Header-checkbox {
  margin-right: 25px;
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

.Header-checkbox-input {
  display: none;
}

.Header-checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #2cb1ba;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Header-checkbox-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;

  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Header-checkbox-input:checked + .Header-checkbox-slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

.on {
  display: none;
}

.on,
.off {
  position: absolute;
  color: white;
  transform: translate(-50%, -50%);
  top: 55%;
  left: 50%;
  font-size: 16px;
}

.Header-checkbox-slider.round {
  border-radius: 34px;
}

.Header-checkbox-slider.round:before {
  background-color: lightgrey;
  border-radius: 50%;
}

.Header-checkbox-input:checked + .Header-checkbox-slider .on {
  display: block;
}

.Header-checkbox-input:checked + .Header-checkbox-slider .off {
  display: none;
}

.Header-sliderArea {
  width: 300px;
}

.rc-slider-tooltip-inner {
  background-color: #2cb1ba !important;
  color: white !important;
  min-width: 35px !important;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
  border-top-color: #2cb1ba !important;
}

.Header-container-buttons > button {
  height: 30px;
  width: 115px;
  border-radius: 5px;
  font-family: "Maison Neue";
  font-size: 14px;
  outline: none;
}

.Header-container-buttons {
  display: flex;
}

.Header-container-buttons > button:hover {
  cursor: pointer;
}

.Header-register,
.Header-login {
  background-color: #fff;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
}

.Header-register:hover,
.Header-login:hover {
  background-color: #2cb1ba;
  color: #fff;
}

.Header-login {
  margin-right: 100px;
  margin-left: 20px;
}

.Header-sell {
  background-color: #2cb1ba;
  color: white;
  border: none;
}

.Header-sell:hover {
  background-color: white;
  color: #2cb1ba;
  border: 1px solid #2cb1ba;
}

.Header-disconnected {
  background-color: #c2175b;
  color: white;
  border: none;
  margin-right: 20px;
}

.Header-disconnected:hover {
  background-color: white;
  color: #c2175b;
  border: 1px solid #c2175b;
}

/*Responsive*/

@media (max-width: 1800px) AND (min-width: 1024px) {
  .Header-logo {
    margin: 0 10px;
  }

  .Header-container-buttons {
    margin-right: 10px;
  }

  .Header-container-buttons > button {
    width: 100px;
    line-height: 1;
  }

  .Header-login {
    margin-right: 50px;
    margin-left: 10px;
  }
}

@media (max-width: 1023px) AND (min-width: 768px) {
  .Header-logo {
    height: 30px;
    margin: 0 10px;
  }

  .Header-input {
    width: 300px;
    padding-left: 30px;
    font-size: 14px;
  }

  .Header-box-sort-price {
    font-size: 10px;
  }

  .Header-label-checkbox,
  .Header-label-slider {
    margin-right: 5px;
  }

  .Header-checkbox {
    margin-right: 10px;
  }

  .Header-sliderArea {
    width: 150px;
  }

  .rc-slider-tooltip-inner {
    min-width: 20px !important;
    height: 20px !important;
    font-size: 10px !important;
  }

  .Header-container-buttons > button {
    width: 80px;
    line-height: 1;
  }

  .Header-login {
    margin-right: 50px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) AND (min-width: 320px) {
  .Header {
    height: 200px;
    flex-direction: column;
  }

  .Header-logo {
    height: 50px;
    margin: 10px 0;
  }

  .Header-icon-search {
    left: 17px;
  }

  .Header-box-input {
    width: 100%;
    padding: 0 10px;
  }

  .Header-input {
    width: 100%;
    padding-left: 30px;
    font-size: 14px;
  }
  .Header-box-input > div:first-child {
    padding: 0 10px;
  }

  .Header-box-sort-price {
    font-size: 8px;
    justify-content: center;
    width: 100%;
  }

  .Header-label-checkbox,
  .Header-label-slider {
    margin-right: 5px;
  }

  .Header-checkbox {
    margin-right: 5px;
  }

  .Header-sliderArea {
    width: 50%;
  }

  .rc-slider-tooltip-inner {
    min-width: 20px !important;
    height: 20px !important;
    font-size: 10px !important;
  }

  .Header-container-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding: 0 10px;
  }

  .Header-container-buttons > button {
    min-width: 80px;
    line-height: 1;
  }

  .Header-login {
    margin-right: 10px;
    margin-left: 10px;
  }
}
